---
layout: portfolio-detail
title: Thought Path
subtitle: The Smart Inbox for your Brain
app_icon: /assets/images/thought-path-icon.png
external_link: https://apps.apple.com/us/app/thought-path/id6458731090

navigation_category: portfolio
back_link: /portfolio
back_link_label: Full Portfolio
---

Thought Path is the first point of contact for all your thoughts, ideas, and tasks. It doesn't matter what it is, it just matters that you write it down!

<div style="margin-top: 24px; margin-bottom: 24px;">
	<img src="/assets/images/thought-path.png" alt="Alt Text" style="max-width:100%; height:auto;">
	<p class="caption">Add everything to Thought Path, and easily see the output of your brain over time, on a map, or search for specific keywords.</p>
</div>

{% include divider.html title="The Inbox" %}

<div class="image-flex-container">
	<img src="/assets/images/inbox.png" alt="The Thought Path inbox view" class="image-flex-container-img">
	<ul class="image-flex-container-text">
		<li><strong>Keep a text message conversation with yourself</strong>. How often do you refer to messages from others in your work?</li>
		<li>Thoughts are grouped under relative time headings to <strong>easily identify old thoughts that aren't actionable</strong>.</li>
		<li><strong>Read and write to your inbox from Shortcuts</strong>; capture your ideas in whatever way works best for you.</li>
		<li>Complete or archive your thoughts <strong>with a single tap</strong>.</li>
	</ul>
</div>

{% include divider.html title="Places" %}

<div class="image-flex-container-reverse">
	<img src="/assets/images/map.png" alt="The Thought Path map view" class="image-flex-container-img">
	<ul class="image-flex-container-text">
		<li><strong>View all your thoughts on a map</strong> of where you captured them</li>
		<li>Quickly <strong>review all your thoughts from a particular location</strong>, like a vacation or conference.</li>
		<li><strong>Zoom in and out to group thoughts</strong> by more of less specifc locations: England, London, Hyde Park, or the Serpentine lake!</li>
	</ul>
</div>

{% include divider.html title="Tags" %}

<div class="image-flex-container">
	<img src="/assets/images/tag.png" alt="The Thought Path new tag view, tag shown is named important and coloured red" class="image-flex-container-img">
	<ul class="image-flex-container-text">
		<li><strong>Tag your thoughts</strong> with keywords, names of coworkers, or categories.</li>
		<li>Find any thought with <strong>full text search</strong>, on the body of the item or its tags.</li>
		<li>With a Pro subscription, <strong>search all your completed items</strong>.</li>
	</ul>
</div>

{% include divider.html title="Pricing" %}

Though Path is <strong>free to use indefinitely</strong>, but you will need to review and archive all your thoughts once you reach a cap of 15. 

Pro users can <strong>remove all limits</strong> with a subscription fee of <strong>$1.99 a month, $14.99 a year, or local equivalents</strong>.