<div class="
  space-y-16 
  md:content-center
  md:space-y-0
  md:flex 
  md:flex-row-reverse
  md:space-x-8 
  md:space-x-reverse">
    
  <!-- Image -->
  <div class="self-center">
   <div class="md:w-full drop-shadow-lg space-y-8 md:space-y-0">
      <div class="space-y-0 block md:hidden">
        <div class="text-4xl font-semibold font-serif">
          <p>Contextable</p>
        </div>
        
        <p class="text-slate-500 italic">
          Beautiful, interactive flashcards in SwiftUI
        </p>
      </div>
      <img class="rounded-2xl" src="../assets/images/contextable-layered.png"
        alt="Three iPhones running Contextable, slightly overlapping in a single image. The first is animated, and shows the player screen where the user reviews a stack of cards by swiping them to the left or right. The latter two show still images of the index pages for all the user's decks, and all the user's cards.">
    </div>
  </div>

  <!-- Text -->
  <div class="space-y-6 max-w-xl self-center">
    <div class="space-y-0 hidden md:block drop-shadow-lg">
      <div class="text-4xl font-semibold font-serif">
        <p>Contextable</p>
      </div>
      
      <p class="text-slate-400 italic">
        Beautiful, interactive flashcards in SwiftUI
      </p>
    </div>

    <ul class="list-disc text-slate-300 space-y-8">
      <li><b class="text-white">Swipe to review</b> your decks, using satisfying deisgn patterns for good.</li>
      
      <li><b class="text-white">Put your cards in context</b> by attaching examples, definitions, or any other kind of text.</li>
      
      <li><b class="text-white">Record and playback audio</b> for any card or context.</li>
    </ul>

    <a
      href="https://apps.apple.com/us/app/contextable/id1622457817"
      class="inline-block">
      <img src="/assets/images/appstore.svg"></img>
    </a>
  </div>
</div>
