<!-- Contextable -->
<div id="contextable" class="
  p-16
  bg-sky-900
  text-white"
>
  <div class="
    container mx-auto
    space-y-16 md:space-y-0
    max-w-4xl md:flex md:flex-row-reverse
    md:space-x-8 md:space-x-reverse"
  >

    <!-- Image -->
    <div class="my-auto">
      <div class="md:w-full px-8 md:px-0 drop-shadow-lg">
        <img class="rounded-2xl" src="../assets/images/contextable-layered.png">
      </div>
    </div>


    <!-- Text -->

    <div class="space-y-4 my-auto max-w-xl">
      <div class="text-4xl font-semibold font-serif">
        <p>Contextable 🧠</p>
      </div>

      <p>Contextable is an app for creating and reviewing flashcards.</p>

      <p>Put your cards in context by attaching examples, defintions, or any other kind of text to your cards that is visible at review time.</p>

      <p>Swipe left and right on your stack to review your cards with an intutive user interface.</p>

      <a
        href="https://apps.apple.com/us/app/contextable/id1622457817"
        class="inline-block"
      >
        <img src="/assets/images/appstore.svg"></img>
      </a>
    </div>

  </div>

</div>
