<!-- Contextable -->
<div id="contextable" class="
  p-16
  bg-sky-900
  text-white"
>
  <div class="
    container mx-auto
    space-y-16 md:space-y-0
    max-w-4xl md:flex md:flex-row-reverse
    md:space-x-8 md:space-x-reverse"
  >

    <!-- Image -->
    <div class="my-auto">
      <div class="md:w-full drop-shadow-lg">
        <img class="rounded-2xl" src="../assets/images/contextable-layered.png"
          alt="Three iPhones running Contextable, slightly overlapping in a single image. The first is animated, and shows the player screen where the user reviews a stack of cards by swiping them to the left or right. The latter two show still images of the index pages for all the user's decks, and all the user's cards.">
      </div>
    </div>


    <!-- Text -->

    <div class="space-y-4 my-auto max-w-xl">
      <div class="text-4xl font-semibold font-serif">
        <p>Contextable 🧠</p>
      </div>

      <p>Contextable is an app for creating and reviewing flashcards. I made it to learn Russian, my partner's native language.</p>

      <ul class="list-disc space-y-2">
        <li>Swipe left and right on your stack to review your cards with an intutive user interface.</li>

        <li>Put your cards in context by attaching examples, defintions, or any other kind of text.</li>

        <li>Record and playback audio for any card or context.</li>
      </ul>

      <a
        href="https://apps.apple.com/us/app/contextable/id1622457817"
        class="inline-block"
      >
        <img src="/assets/images/appstore.svg"></img>
      </a>
    </div>

  </div>

</div>
