<header>
  <h1>
    &amp;#39;
  </h1>
  <nav class="navigation">
    <ul class="navigation-menu">
      <li><a class="navigation-link {% if page.navigation_category == "writing" %} active{% endif %}" href="/">Writing</a></li>
      <li><a class="navigation-link {% if page.navigation_category == "portfolio" %} active{% endif %}" href="/portfolio">Portfolio</a></li>
      <li><a class="navigation-link {% if page.url == "/about/" %} active{% endif %}" href="/about/">About</a></li>
    </ul>
  </nav>
</header>