{% assign html_stripped = post.content | strip_html %}
{% assign words = html_stripped | split: ' ' %}
{% assign limited_words = words | slice: 0, 50 %}
{% assign limited_text = limited_words | join: ' ' %}

<li class="portfolio-highlight post-index-item">
	<a class="post-link portfolio-clickable portfolio-highlight" href="{{ post.url | relative_url }}">
		<div>
			<strong class="post-title">{{ post.title }}</strong>
		</div>
	</a>

	<time class="post-date">{{ post.date | date: date_format }}</time>
</li>