<li class="bg-[#E5E5EE] dark:bg-[#2A2A2E] 
		   text-black dark:text-white
		   rounded-2xl drop-shadow-lg p-8
		   space-y-4">

	<div class="space-y-2">
		{% include project-card-title.html project=include.project %}
	
		{% if include.project.subtitle %}
			<div class="flex justify-center text-sm">
				{{ include.project.subtitle }}
			</div>
		{% endif %}

		{% if include.project.appstore %}
			{% include project-card-appstore.html project=include.project %}
		{% endif %}
	</div>

	{% if include.project.img %}
		{% include project-card-image-row.html project=include.project %}
	{% endif %}

	<div>
		{{ include.project.description | newline_to_br }}
		{% if include.project.more-link %}
		<br/>
			<a class="text-[#447EC5] underline" href="{{project.more-link}}">
				Learn more about {{ include.project.name }} here
			</a>
		{% endif %}
	</div>
</li>