<div class="p-8 flex flex-col items-center space-y-4">
  <button id="home">
    <h1
      class="flex font-serif xl:text-8xl md:text-6xl sm:text-4xl text-2xl
             font-bold hover:text-slate-700 dark:hover:text-slate-400"
      onmouseover="addHighlight()"
      onmouseleave="removeHighlight()"
    >
        It<div id="andHash">&#38;&#35;39&#59;</div>s Not Difficult.
    </h1>
  </button>
  
  <ul class="flex space-x-2">
    <li class="flex">
      <a href="mailto:andhash39@gmail.com" class="font-semibold text-blue-800 visited:text-purple-800">
        Email
      </a>
    </li>
      
    <p>•</p>
      
    <li>
      <a rel="me" href="https://mastodon.social/@andhash39" class="font-semibold text-blue-800 visited:text-purple-800">
        Mastodon
      </a>
    </li>
      
    <p>•</p>
      
    <li class="flex">
      <a href="https://www.instagram.com/mattjamesod/" class="font-semibold text-blue-800 visited:text-purple-800">
        Instagram
      </a>
    </li>
  </ul>
</div>

<script type="text/javascript">
  document.getElementById("home").onclick = function () {
    location.href = "/";
  };

  function addHighlight() {
    document.getElementById("andHash").classList.add("underline")
  }

  function removeHighlight() {
    document.getElementById("andHash").classList.remove("underline");
  }
</script>
