<!-- Thought Path -->
<div id="thought-path" class="
  p-16 md:rounded-2xl
  bg-gradient-to-r from-amber-600 to-orange-700
  text-white shadow-inner"
>
  <div class="
	space-y-16 
	md:content-center
	md:space-y-0
	md:flex 
	md:flex-row-reverse
	md:space-x-8 
	md:space-x-reverse"
  >
	<!-- Image -->
	<div class="self-center">
	  <div class="md:w-full drop-shadow-lg space-y-8 md:space-y-0">
		<div class="space-y-2 block md:hidden">
		  <div class="text-4xl font-bold font-serif">
			<p>Thought Path</p>
		  </div>
		  
		  <p class="text-sky-200 italic">
			The smart inbox for your brain
		  </p>
		</div>
		<img class="rounded-2xl" src="../assets/images/thought-path-splash.svg"
		  alt="Three iPhones running Contextable, slightly overlapping in a single image. The first is animated, and shows the player screen where the user reviews a stack of cards by swiping them to the left or right. The latter two show still images of the index pages for all the user's decks, and all the user's cards.">
	  </div>
	</div>


	<!-- Text -->

	<div class="space-y-6 max-w-xl self-center">
	  <div class="space-y-0 hidden md:block drop-shadow-lg">
		<div class="text-4xl font-bold font-serif">
		  <p>Thought Path</p>
		</div>
		
		<p class="text-sky-200 italic">
		  The smart inbox for your brain
		</p>
	  </div>

	  <ul class="list-disc text-slate-100 space-y-8">
		<li>Swipe left and right on your stack to review your cards with an intutive user interface.</li>

		<li>Put your cards in context by attaching examples, defintions, or any other kind of text.</li>

		<li>Record and playback audio for any card or context.</li>
	  </ul>

	  <a
		href="https://apps.apple.com/us/app/contextable/id1622457817"
		class="inline-block"
	  >
		<img src="/assets/images/appstore.svg"></img>
	  </a>
	</div>

  </div>

</div>
