<!-- Thoughograph -->
<div id="thoughtograph" class="
  p-16
  bg-teal-400
  text-black"
>
  <div class="
    container mx-auto
    max-w-4xl md:flex md:flex-row
    md:space-x-16 md:space-x"
  >

    <div class="md:flex my-auto">
      <!-- Image 1 -->
      <div class="md:w-64 px-32 md:px-0 flex-none drop-shadow-lg">
        <img class="rounded-2xl" src="assets/images/player-light-frame.png">
      </div>

      <!-- Image 2 -->
      <div class="md:w-64 px-32 md:px-0 flex-none drop-shadow-lg">
        <img class="rounded-2xl" src="assets/images/card-index-light-frame.png">
      </div>

    </div>


    <!-- Text -->

    <div class="space-y-4 my-auto">
      <p class="text-4xl font-semibold font-serif">Thoughtograph 💡</p>

      <p>Contextable is an iPhone app for creating and reviewing flashcards. It lets you  record and playback audio, customise your review schedule, and attach text blocks to   put your memorable information in context.</p>

      <p>It features a modern, intuitive user interace built in SwiftUI.</p>

      <div class="flex space-x-2 contrast-50">
        <img src="/assets/images/appstore.svg"></img>
        <img src="/assets/images/appstore-mac.svg"></img>
      </div>
    </div>

  </div>

  {% include copyright-footer.html %}

</div>
