.now {
	padding: 40px;
	max-width: min(80%, 980px);
	margin: 20px auto 20px auto;
}

.about-container > * {
	margin-bottom: 40px;
}

.block-link-list {
	display: flex; 
	flex-direction: column; 
	list-style-type: none;
	gap: 1rem;
}

@media (min-width: 700px) {
	.block-link-list {
		flex-direction: row;
	}
}

.block-link {
	padding: 10px;
	color: var(--accent-two);
	background-color: var(--neutral-three);
  	border-radius: 5px;

  	&:hover {
		background-color: var(--accent-two);
		color: var(--neutral-one);
  	}
}