
.post-list {
  margin-left: 0;
  list-style: none;
  display: grid;
  gap: 0.5rem;
}

.post-list h1,
.post-list p {
  margin-block-start: 0px;
  margin-block-end: 0.4rem;
}

.post-header {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
}

.post-header p {
  font-size: 0.9rem;
  margin-block-start: 0px;
}

.post-meta {
  display: flex;
  flex-direction: column;
  align-items: center;
	font-size: 2.5rem;
  color: var(--highlight);
  text-transform: uppercase;
  font-variant: small-caps;
}

.post-meta-first {
  font-size: 2rem;
  font-weight: 800;
}

.post-meta-second {
  font-size: 1.2rem;
  font-weight: 600;
}

.post-preview {
  display: flex;
  flex-direction: column;
  margin-top: 0.3rem;
}

.post-preview p {
  color: var(--text-color);
}

.post-link {
	font-size: 1.2rem;
	font-weight: 600;
}

.post-date {
  color: var(--grey);
}

.post-content-header {
  margin-block-start: 1rem;
  margin-block-end: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.post-content-header h1 {
  margin-block-start: 0px;
  margin-block-end: 0px;
}

.continue-reading {
	font-weight: 500;
	color: var(--text-color);
	font-size: 0.7rem;
  text-transform: uppercase;
  font-variant: small-caps;
  margin-block-end: 0px;

	&:visited {
		color: var(--text-color);
	}
}