:root {
	color-scheme: light dark;

	--grey: #A8ADB5;

	--link-color: var(--accent-two);
	--link-color-visited: #CC5555;
	--link-color-hover: #CC5555;

	@media (prefers-color-scheme: light) {
		--background-color: var(--neutral-one);
		--text-color: var(--neutral-two);
		--text-color-secondary: var(--neutral-four);
		--highlight: var(--accent-two);
		--subtle-highlight: var(--neutral-three);
	}

	@media (prefers-color-scheme: dark) {
		--background-color: var(--main);
		--text-color: var(--neutral-one);
		--text-color-secondary: var(--neutral-one);
		--highlight: var(--accent-two);
		--subtle-highlight: var(--neutral-three);
	}

	@media (prefers-color-scheme: light) {
		--main: #6A7BFF;
		--accent-one: #00B4CC;
		--accent-two: #FF6B6B;
		--neutral-one: #ffffff;
		--neutral-two: #333333;
		--neutral-three: #F5F5F5;
		--neutral-four: #DDDDDD;
	}

	@media (prefers-color-scheme: dark) {
		--main: #2C3E50;
		--accent-one: #3498DB;
		--accent-two: #FF6B6B;
		--neutral-one: #F5F5F5;
		--neutral-two: #FFFFFF;
		--neutral-three: #233146;
		--neutral-four: #4A5564;
	}
}

body {
  font-family: "Funnel Sans", -apple-system, system-ui, Verdana, sans-serif;

  background-color: var(--background-color);
  color: var(--text-color);

	margin: 0px auto 40px auto;
	max-width: min(80%, 980px);
	display: flex;
	flex-direction: column;
}

.title-font {
	font-family: "Funnel Display", serif;
	margin-top: 0px;

	strong {
		color: var(--accent-one);
	}
}

.large-font {
	font-size: 1.4rem; 
	font-weight: 400;

	strong {
		color: var(--accent-one);
	}
}

.centered {
	text-align: center;
}

p {
	line-height: 2.0;
}

a {
	color: var(--link-color);

	&:hover {
		color: var(--link-color-hover);
	}

	&:visited {
		color: var(--link-color-visited);
	}
}	

h1, h2, h3 {
	color: var(--text-color);
}

h2, h3 {
	margin-top: 50px;
}

body {
	gap: 1rem;
	font-size: 1.2rem;
}

header {
	margin-bottom: 20px;
}

.header-container {
	display: flex;
	align-items: center;
	gap: 15px;
	padding: 0px 40px;
	max-width: min(80%, 980px);
	margin: 5px auto 5px auto;
}

.site-logo {
	font-size: 2rem;
	font-weight: 600;
	color: var(--accent-one);
	margin-block-end: 0;
}

.navigation-menu {
	display: flex;
	list-style-type: none;
	gap: 5px;
}

.navigation-link {
	color: var(--text-color);
	padding: 8px 16px;
  border-radius: 5px;
	transition: transform 0.2s ease-in-out;
	transition: background-color 0.1s linear;

	&:hover:not(.active) {
		background-color: var(--neutral-four);
		transform: scale(1.04);
	}

	&:visited {
		color: var(--text-color);
	}
}

.navigation-link.active {
	font-weight: 500;
	text-decoration: underline;
	background-color: var(--neutral-four	);
	transform: scale(1.04);
}

ul, menu, dir {
	display: block;
	padding-inline-start: 0px;
}

.slide-in {
	animation: slidein 0.5s ease forwards;
}

@keyframes slidein {
  0% {
  	transform: translateY(30px);
    opacity: 0%;
  }

  100% {
    opacity: 100%;
  }
}

.divider {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1rem;
	padding: 1rem 2rem 1rem 2rem;
}

.divider-word {
	font-weight: 500;
	color: var(--grey);
	font-size: 0.8rem;
  text-transform: uppercase;
  font-variant: small-caps;
	text-align: center;
}

.divider-line {
	background-color: var(--subtle-highlight);
	flex: 1;
  height: 2px;
  border-radius: 500px;
}

.image-container {	
  height:auto;
  border-radius: 5px;
  cursor: url('/assets/images/dragon-age-cursor.png'), auto;
}

.image-flex-container, .image-flex-container-reverse {
	display: flex;
	flex-direction: column;
	align-items: center; 
	gap: 2rem;

	.image-container {
  	max-width: 100%; 
	}
}

@media (min-width: 850px) {
	.image-flex-container {
		flex-direction: row;
		align-items: center;

		.image-container {
	  	max-width: 40%; 	
		}
	}
}

@media (min-width: 850px) {
	.image-flex-container-reverse {
		flex-direction: row-reverse;
		align-items: stretch;

		.image-container {
	  	max-width: 40%; 	
		}
	}
}

.colored-container {
	background-color: var(--neutral-three);
  width: 100vw;
  margin-left: calc(50% - 50vw);
}

footer {
	margin-left: auto;
	margin-right: auto;
	font-size: 0.8rem;
	color: var(--grey);
}

blockquote {
	color: var(--grey);
	font-style: italic;
}