:root {
	color-scheme: light dark;

	--grey: #A8ADB5;

	--link-color: var(--accent-two);
	--link-color-visited: #CC5555;
	--link-color-hover: #CC5555;

	@media (prefers-color-scheme: light) {
		--background-color: var(--neutral-one);
		--text-color: var(--neutral-two);
		--highlight: var(--accent-two);
		--subtle-highlight: var(--neutral-three);
	}

	@media (prefers-color-scheme: dark) {
		--background-color: var(--main);
		--text-color: var(--neutral-one);
		--highlight: var(--accent-two);
		--subtle-highlight: var(--neutral-three);
	}

	@media (prefers-color-scheme: light) {
		--main: #6A7BFF;
		--accent-one: #00B4CC;
		--accent-two: #FF6B6B;
		--neutral-one: #gagaga;
		--neutral-two: #333333;
		--neutral-three: #F5F5F5;
	}

	@media (prefers-color-scheme: dark) {
		--main: #2C3E50;
		--accent-one: #3498DB;
		--accent-two: #FF6B6B;
		--neutral-one: #F5F5F5;
		--neutral-two: #FFFFFF;
		--neutral-three: #233146;
	}
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}

body {
	margin: 20px auto 20px auto;
	@media (min-width:480px) { margin: 80px auto 80px auto; }
	max-width: 600px;
	display: flex;
	flex-direction: column;
}

body {
  font-family: -apple-system, system-ui, Verdana, sans-serif;
}

main {
	margin: 20px;
}

a {
	color: var(--link-color);
	text-decoration: none;

	&:hover {
		color: var(--link-color-hover);
	}

	&:visited {
		color: var(--link-color-visited);
	}
}

h1, h2, h3 {
	color: var(--text-color);
}

body {
	gap: 1rem;
}

nav ul {
	width: auto;
	border-radius: 500px;
	display: flex;
	justify-content: center;
	flex-shrink: 0;
	list-style-type: none;
	gap: 5px;
}

nav li a {
	display: block;
	text-align: center;
	font-size: 0.9rem;
	padding: 8px 16px;
	text-decoration: none;
  	border-radius: 500px;
	transition: transform 0.2s ease-in-out;
	transition: background-color 0.1s linear;

	&:hover:not(.active) {
		background-color: var(--subtle-highlight);
		transform: scale(1.04);
	}

	&:visited {
		color: var(--text-color);
	}
}

nav li .active {
	font-weight: 450;
	background-color: var(--subtle-highlight);
  border-radius: 500px;
	transform: scale(1.04);
}

ul, menu, dir {
	display: block;
	margin-block-start: 0em;
	margin-block-end: 0em;
	padding-inline-start: 0px;
}

.slide-in {
	animation: slidein 0.5s ease forwards;
}

@keyframes slidein {
  0% {
  	transform: translateY(30px);
    opacity: 0%;
  }

  100% {
    opacity: 100%;
  }
}

.divider {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1rem;
	padding: 1rem 2rem 1rem 2rem;
}

.divider-word {
	font-weight: 500;
	color: var(--grey);
	font-size: 0.8rem;
  text-transform: uppercase;
  font-variant: small-caps;
	text-align: center;
}

.divider-line {
	background-color: var(--subtle-highlight);
	flex: 1;
  height: 2px;
  border-radius: 500px;
}

.image-frame {
  max-width:40%; 
  height:auto;
  border-radius: 9000px;
}

button {
  border: none; /* Remove borders */
  background-color: transparent; /* Remove background color */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margin */
  font: inherit; /* Inherit font styles */
  color: inherit; /* Inherit text color */
  cursor: pointer; /* Set cursor to pointer */
  outline: none; /* Remove outline */
}

footer {
	margin-left: auto;
	margin-right: auto;
	font-size: 0.8rem;
	color: var(--grey);
}