
.portfolio-detail-header h1 { 
	font-size: 2.2rem;
	margin-block-start: 0rem; 
	margin-block-end: 0rem; 
}

.portfolio-detail-header h2 { 
	margin-block-start: 0rem;
	margin-block-end: 0rem;
	font-size: 1.2rem;
	font-weight: 500;
}

.portfolio-detail-header {
	display: flex;
	flex-direction: column;
	gap: 0.4rem;
	align-items: center;
	margin-block-end: 2rem;
}

.portfolio-detail-content h2 {
		text-align: center;
	}
}

.image-container {
  display: flex;
  justify-content: center; /* Centers the image horizontally */
  align-items: center; /* Centers the image vertically if the container has a specific height */
}

.portfolio-detail-header a img {
	margin-block-start: 1rem;
}

.portfolio-detail-header a img:hover, a img:focus {
  opacity: 0.8; /* Optional: Adds a visual cue on hover/focus */
}

.shadowed {
  max-width: 50%; /* Ensures the image is responsive and fits its container */
  height: auto; /* Maintains the image's aspect ratio */
  filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.5));
}

.caption {
	font-size: 0.8rem;
	color: var(--grey);
	margin-right: 24px;
	margin-left: 24px;
}

.app-icon-big {
  max-width: 80px; 
  max-height: 80px; 
  height:auto;
	margin-block-end: 1rem; 
}

.image-flex-container, .image-flex-container-reverse {
	margin-top: 24px; 
	margin-bottom: 24px;
	display: flex;
	flex-direction: column;
	align-items: center; 
	gap: 2rem;
}

@media (min-width: 600px) {
	.image-flex-container {
		flex-direction: row;
		align-items: stretch;
	}
}

@media (min-width: 600px) {
	.image-flex-container-reverse {
		flex-direction: row-reverse;
		align-items: stretch;
	}
}

.image-flex-container-img {
	max-width: 60%; 
	height: auto;
}

@media (min-width: 600px) {
	.image-flex-container-img {
		max-width: 40%;
	}
}

.image-flex-container-text {
	list-style-type: none;
	display: flex; 
	flex-direction: column; 
	justify-content: space-around; 
	flex-grow: 1;
	gap: 1rem;
}


