.portfolio-list {
	list-style-type: none;
	display: flex;
	flex-direction: column;
	margin-left: 2.5rem;
	margin-right: 2.5rem;
	gap: 1rem;
}

.portfolio-highlight {
	display: flex;
	flex-direction: row;
	gap: 1rem;
	align-items: center;
}

.portfolio-clickable {
	padding: 12px;
	transition: transform 0.2s ease-in-out;
	&:hover {
		border-radius: 12px;
		background-color: var(--subtle-highlight);
		transform: scale(1.01);
	}

	&.clicked {
		border-radius: 12px;
		background-color: var(--subtle-highlight);
	}
}

.portfolio-highlight-text {
	display: flex;
	flex-direction: column;
	align-items:start;
	gap: 0.2rem;
	color: var(--text-color);
	font-size: 0.9rem;
}

.portfolio-highlight-text p,
.portfolio-highlight-text h1,
.portfolio-highlight-text h2,
.portfolio-highlight-text h3 {
	margin-block-start: 0px;
	margin-block-end: 0px;
	font-weight: 600;
}

.app-icon {
  	max-width: 57px; 
  	max-height: 57px; 
  	height:auto;
}

.avamae {
	@media (prefers-color-scheme: light) {
		filter: brightness(0);
	}
}

.employment-span {
	font-weight: 500;
	color: var(--grey);
	font-size: 0.7rem;
  	text-transform: uppercase;
  	font-variant: small-caps;
  	margin-left: auto;
}

.portfolio-skills {
  	max-height: 0;
  	overflow: hidden;
  	transition: max-height 0.3s ease-in-out;
	color: var(--text-color);
	font-size: 0.9rem;
}

.portfolio-skills-container {
	text-align: start;
	font-size: 0.8rem;
  	padding-top: 24px;
  	padding-left: 12px;
  	padding-right: 12px;
  	padding-bottom: 6px;
}

.portfolio-skills-container p {
  	margin-block-start: 0px;
  	margin-block-end: 6px;
}