
.portfolio-list {
	list-style-type: none;
}

.portfolio-highlight {
	display: flex;
	flex-direction: row;
	gap: 1rem;
	align-items: center;
}

.portfolio-clickable {
	padding: 12px;
	margin-left: -12px;
	border-radius: 5px;
	transition: transform 0.2s ease-in-out;
	transition: background-color 0.1s linear;
	flex-grow: 1;

	&:hover {
		background-color: var(--neutral-three);
		transform: scale(1.01);
	}

	&:clicked {
		border-radius: 12px;
		background-color: var(--neutral-three);
	}
}

.colored-container .portfolio-clickable {
	&:hover {
		background-color: var(--neutral-four);
	}

	&:clicked {
		background-color: var(--neutral-four);
	}
}

.portfolio-highlight-text {
	display: flex;
	flex-direction: column;
	align-items:start;
	gap: 0.2rem;
	color: var(--text-color);
	text-align: start;
}

.portfolio-highlight-text p,
.portfolio-highlight-text h1,
.portfolio-highlight-text h2,
.portfolio-highlight-text h3 {
	margin-block-start: 0px;
	margin-block-end: 0px;
}

.app-icon {
  	max-width: 57px; 
  	max-height: 57px; 
  	height:auto;
	border-radius: 15%;
}

.portfolio-skills-container p {
  	margin-block-start: 0px;
  	margin-block-end: 6px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(60px, 1fr)); /* Adjust column width */
    gap: 30px;
}

.grid-item {
    text-align: center;
}
