<% @posts.each do |post| %>
	<div id="centered">
		<h1><%= sanitize post.title_as_html %></h1>
		
		<p><i><%= post.date %></i></p>
	</div>
	
	<hr/>
	
	<%= sanitize post.body_as_html %>
	
	<!-- <div id="centered">
		<%= link_to "See full post", post %>
	</div> -->
	
<% end %>