<h1>Hi there! 👋</h1>

<p>I'm Matthew, another white internet developer man.</p>
<p>I have an apostrophe in my name, and I get annoyed when people don't encode it properly.</p>
<p>This site is a place for me to share the projects I'm working on.</p>
<p>Find me on <a href="https://github.com/mattjamesod">Github</a> and <a href="https://www.linkedin.com/in/matthewjamesod">LinkedIn</a>!</p>

<h2>About this website</h2>

<p>I built this site using <a href="https://rubyonrails.org">Ruby on Rails</a>. It is hosted on <a href="https://www.linode.com">Linode</a>.</p>
<p>My primary source of motivation was the pun you can see at the top of the page.</p>