body {
	font-family: -apple-system, system-ui, Verdana, sans-serif;
	margin: 0 auto;
}

header {
	text-align: center; 
	background-color: hsl(70, 11%, 11%);
	color: #ffffff;
	padding-top: 15px;
}

header h1 {
	margin-top: 0px;
}

header p {
	padding-bottom: 10px
}

nav {
	background-color: hsl(31, 94%, 61%);
}

nav.admin {
	background-color: hsl(241, 64%, 63%);
}

nav a {
	display: inline-block;
	text-decoration: none;
	padding: 0.5em 1.5em 0.5em 1.5em;
	font-weight: bold;
	color: hsl(70, 11%, 11%);
}

nav a:hover {
	color: hsl(70, 90%, 22%);
}

.centered {
	text-align: center; 
}

#main {
	max-width: 620px;
	margin: 0 auto;
	padding: 1em;
}