<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>It&#38;&#35;39&#59;s Not Difficult</title>
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
    <link rel="icon" type="image/png" href="/favicon.png">
  </head>

  <!-- Main Content -->

  <body class="font-sans bg-gradient-to-r from-neutral-100 to-slate-200 dark:from-neutral-900 dark:to-slate-800 text-black dark:text-slate-100">

    <div>
      {% include site-header.html %}
    </div>

    <div class="p-16 space-y-4">
      {{ page.content }}
    </div>

  </body>

</html>
