<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>It&#38;&#35;39&#59;s Not Difficult</title>
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
    <link rel="icon" type="image/png" href="/favicon.png">
  </head>

  <!-- Main Content -->

  <body class="font-sans bg-sky-900">

    <div class="bg-amber-200 text-slate-900" >
      {% include site-header.html %}
    </div>

    <div class="
      p-16 space-y-4
      text-white"
    >
      {{ page.content }}
    </div>

  </body>

</html>
