<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>It&#38;&#35;39&#59;s Not Difficult</title>
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
    <link rel="icon" type="image/png" href="/favicon.png">
  </head>

  <!-- Main Content -->

  <body class="font-sans bg-amber-200  text-slate-900">
      <div>
        {% include site-header.html %}
      </div>

      <!-- Personal -->
      <div class="
        p-8 space-y-16
        bg-amber-200"
      >
        <div class="
          mx-auto
          max-w-4xl md:flex md:flex-row md:space-x-16
          md:space-y-0 space-y-8"
        >
          <!-- Image -->

          <div class="flex-none w-64 mx-auto md:px-0 drop-shadow-lg my-auto">
            <img class="rounded-full" src="assets/images/profile-face.jpg">
          </div>

          <!-- Text -->

          <div class="space-y-4 my-auto">
            <p class="text-4xl font-semibold font-serif">Hi there! 👋🇬🇧</p>
            <p>I'm Matt O'Donnell, a London-based rubyist and iOS developer. You would be amazed how many websites can't handle apostrophes.</p>

            <p>I work for <a href="https://freeagent.com" class="text-blue-600 visited:text-purple-600 underline">FreeAgent</a>, where we make a great web app for managing your finances as a small business. I also make apps for Apple platforms; you can find them below.</p>

            <p>If you want to know more about me or my work, you have some options:</p>

            <div class="flex space-x-1">
              <p class="font-semibold">Email:</p>
              <a
                href="mailto:andhash39@gmail.com"
                class="text-blue-600 visited:text-purple-600 underline"
              >
                andhashthirtynine@gmail.com
              </a>
            </div>

            <div class="flex space-x-1">
              <p class="font-semibold">Mastodon:</p>
              <a
                rel="me" href="https://mastodon.social/@andhash39"
                class="text-blue-600 visited:text-purple-600 underline"
              >
                andhash39@mastodon.social
              </a>
              <p>(Tech 👨‍💻)</p>
            </div>

            <div class="flex space-x-1">
              <p class="font-semibold">Instagram:</p>
              <a
                href="https://www.instagram.com/mattjamesod/"
                class="text-blue-600 visited:text-purple-600 underline"
              >
                mattjamesod@instagram.com
              </a>
              <p>(Photography 📸)</p>
            </div>

          </div>

        </div>

        <div class="
          text-center font-semibold font-serif
          hover:text-slate-700"
        >
          <button onclick="scrollToProjects();">
            <p class="text-xl">Check out my projects!</p>
            <p class="text-2xl">&#x25BC;</p>
          </div>
        </div>

      </div>

      {% include contextable-block.html %}

  </body>

</html>

<script>

function scrollToProjects() {
  const element = document.querySelector('#contextable')
  const topPos = element.getBoundingClientRect().top + window.pageYOffset

  window.scrollTo({
    top: topPos, // scroll so that the element is at the top of the view
    behavior: 'smooth' // smooth scroll
  })
}

</script>
