---
layout: header_and_footer
---

<!-- <p>I make some apps for Apple platforms:</p> -->
<ul class="portfolio-list">
	<a href="thought-path">
		<li class="portfolio-highlight">
			<img src="/assets/images/thought-path-icon.png" alt="Thought Path Icon" class="app-icon">
			<div class ="portfolio-highlight-text">
				<h3>Thought Path</h3>
				<span>The first point of contact for all your thoughts, ideas, and tasks; see the output of 	your brain over time.</span>
			</div>
		</li>
	</a>
	<a href="contextable">
		<li class="portfolio-highlight">
			<img src="/assets/images/contextable-icon.png" alt="Contextable Icon" class="app-icon">
			<div class ="portfolio-highlight-text">
				<h3>Contextable</h3>
				<span>A beautiful SwiftUI flashcards app, designed for language learners; put all your words in 	context.</span>
			</div>
		</li>
	</a>
</ul>