---
layout: header-and-footer
---

<div class="image-flex-container">
	<div>
		<h1 class="title-font">Portfolio</h1>
		
		<p class="large-font">I am a software developer with a wide variety of skills. Below you can learn about the iOS apps I've made. I'm also an accomplished web developer, with over five years of experience working in agile teams.</p>
		
		<nav>
			<ul class="link-list">
				<a class="block-link" href="https://github.com/mattjamesod"><li>GitHub &#8599;</li></a>
				<a class="block-link" href="/assets/matthew_odonnell_cv.pdf" download><li>Full CV &#8595;</li></a>
			</ul>
		</nav>
	</div>

	<img class="image-container" src="/assets/images/matthew-working.jpg" alt="Reflection of me on my laptop, making the sign of the horns 🤘.">
</div>
	
<div class="colored-container">
	<div class="now">
		<h2 class="title-font">iOS Apps</h2>
			<menu class="portfolio-list">
	    		{% for app in site.apps %}
	    			{% include portfolio-app-item.html app=app %}
	    		{% endfor %}
			</menu>
	</div>
</div>
